.navbar {  
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightsteelblue;
  height: 8vh;
}

.navButtons {
  display: flex;
  justify-content: space-around;
}


.projectCardsText {

}

.projectBackground {
  background-color: rgb(147, 193, 230);
}

.infoButton {
  background-color: steelblue;
  color: rgb(232, 242, 246);
  font-weight: bold;
  border-color: steelblue;
}

.infoButton:hover {
  background-color: rgb(232, 242, 246);
  color: steelblue;
  font-weight: bold;
  border-color: steelblue;
  transition: 0.2s;

}

button {
  background-color: steelblue;
  color: rgb(232, 242, 246);
  font-weight: bold;
  border-color: steelblue;
}

button:hover {
  background-color: rgb(232, 242, 246);
  color: steelblue;
  font-weight: bold;
  border-color: steelblue;
  transition: 0.2s;

}

body {
  background-color: rgb(11, 66, 110);
}