.navbar {  
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightsteelblue;
  height: 8vh;
}

.navButtons {
  display: flex;
  justify-content: space-around;
}


.projectCardsText {

}

.projectBackground {
  background-color: rgb(147, 193, 230);
}
